*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Courier New", monospace;
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} 

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.name {
    font-size: 30px;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 60px;
}

.edu {
    font-size: 15px;
    margin: 0;
    padding: 0;
    opacity: 70%;
    display: inline;
    float: left;
}

.edu_break {
    display: none;
}

@media screen and (max-width: 720px) {
    .edu {
        display: none;
    }

    .edu_break{
        font-size: 15px;
        margin: 0;
        padding: 0;
        opacity: 70%;
        display: inline;
        float: left;
        text-align: left;
    }
}

/* footer */
.footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0px;
    padding-top: 16px;
    padding-bottom: 16px;;
    border: 0px;
    margin: 0px;
    border-top: 1.5px solid darkslategrey;
    opacity: 70%;
    font-size: 15px;
}

.copyright {
    float: left;
}

.last_commit {
    float: right;
}
.last_commit_alt {
    display: none;
}

@media screen and (max-width: 870px) {
    .on {
        display: none;
    }

    .off {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .last_commit {
        display: none;
    }

    .last_commit_alt {
        display: block;
        float: right;
    }
}