@import 'tailwindcss';

@theme {
    --color-background: #0B7a75;
    --color-border: #19535f;
    --color-element-bg: #FDF4E0;
    --color-default-text: #231123; 
    --color-default-subtext: #502F4C;

    --radius-global: 1.5rem;
    
    --spacing-element: 0.75rem;
    --spacing-side-full: 64rem;

    --font-global: 'Courier New', monospace;

    --shadow-main: -6px 6px 0 0 #19535f;
    --shadow-test: -6px 6px 0 0 #19535f;
    --shadow-img: -6px 6px 0 0 #0B7a75;

    --breakpoint-full: 64rem;
    --breakpoint-half: 48rem;
    --breakpoint-min: 20rem;

    --animate-in-left: in-left 0.75s ease-in-out;
    --animate-in-right: in-right 0.75s ease-in-out;
    --animate-in-up: in-up 0.75s ease-in-out;
    --animate-in-down: in-down 0.75s ease-in-out;

    @keyframes in-left {
        from {
            opacity: 0;
            transform: translatex(2em)
        }
        to {
            opacity: 1;
        }
    }

    @keyframes in-right {
        from {
            opacity: 0;
            transform: translatex(-2em)
        }
        to {
            opacity: 1;
        }
    }

    @keyframes in-up {
        from {
            opacity: 0;
            transform: translatey(2em)
        }
        to {
            opacity: 1;
        }
    }

    @keyframes in-down {
        from {
            opacity: 0;
            transform: translatey(-2em)
        }
        to {
            opacity: 1;
        }
    }
}

@layer components {
    .site {
        background-color: var(--color-background);
        min-height: 100vh;
        display: flex;
        flex-direction: column;  
        align-items: center;  
    }



    .element-primary {
        background-color: var(--color-element-bg);
        border-color: var(--color-border);
        border-width: 2px;
        border-radius: var(--radius-global);
        margin: var(--spacing-element);
        box-shadow: var(--shadow-main);
    }

    .interactive-header-button {
        @apply  border-2
              border-element-bg 
                rounded-global 
                bg-element-bg 
                transition 
                duration-150 
                ease-in-out 
                p-4 
                w-min
                ms-2 
                hover:shadow-test
              hover:border-background 
                hover:translate-x-1.5 
                hover:-translate-y-1.5 
                text-center;
    }   
}